body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  height: 100vh;
  background-color: #68afb7;
  margin: 0;
  padding: 0;
}
#board {
  background-image: url("./assets/flappybirdbg.png");
}
